*.pem
*.sublime-project
*.sublime-workspace
nextflow.config
testscript.sh
.nextflow*
nextflow/testprintnextflow/
nextflow/old/
nextflow/multipledownloadgzip/*
nextflow/multipledownloadgzip/reports/
!nextflow/multipledownloadgzip/main.nf
nextflow/testnextflow/
output.json
testscript.sh
test*
untitled
samplelaunchtemplatecommands.sh
*.env
*.crt
*.key
*.htpasswd
*.trouble*
old_commands.sh
