 executor {
     name = 'awsbatch'
     awscli = '/home/ec2-user/miniconda/bin/aws'
 }
 process {
     queue = 'BLJQueue'
 }
cloud{
	imageId = 'ami-################'
	sharedStorageId = 'fs-############'
	sharedStorageMount = '/mnt/shared'
}
aws {
    accessKey = ''
    secretKey = ''
    region = 'us-east-1'
}


